@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Button styles */
button.btn.btn-outline-success {
    color: #fff;
    border-color: #fff;
  }
  
button.btn.btn-outline-success:hover {
  color: #6441A4;
  background-color: #fff;
}

button.btn.btn-outline-success.yt {
  color: #6441A4;
  border-color: #6441A4;
}

button.btn.btn-outline-success.yt:hover {
  color: #fff;
  background-color: #6441A4;
}

.badge.bg-secondary {
  background-color: #9146FF !important;
  color: white !important;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 30px !important; 
}
